attached_assets/aider-main_1784767557183.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/open-design-main_1784767616038.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/aider-main_(1)_1784805170811.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/aider-main_1784804783406.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/open-design-main_1784804882717.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/open-design-main_1784805239828.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/open-design-open-design-v0.15.1_1784805596241.zip filter=lfs diff=lfs merge=lfs -text
