modules = ["nodejs-20", "python-3.11", "web", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "MR7 Frontend"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "MR7 Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5173 BASE_PATH=/ pnpm --filter @workspace/mr7-ai run dev"
waitForPort = 5173

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EVALS_MODE = "1"
VITE_OLLAMA_API_KEY = "rayan1212"
OLLAMA_HOST = "https://e58e-2003-cb-5f1b-ad4f-b822-f7be-9ffb-45ce.ngrok-free.app"
VITE_OLLAMA_BASE_URL = "https://e58e-2003-cb-5f1b-ad4f-b822-f7be-9ffb-45ce.ngrok-free.app"

[userenv.development]
AUTO_LAUNCH_OLLAMA = "false"
BASE_PATH = "/"
LOCAL_AUTH_BYPASS = "true"
LOCAL_MOCK_PROVIDER = "true"
NODE_ENV = "development"
